{% extends 'layouts/base.html.twig' %}

{% block title %}Edit User Account
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto  my-5">
			<h1 class="text-center">Update Profile</h1>


			{{ form_start(form) }}
      <div class="row">
        <div class="col-md-6">
        {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-6">
        		{{ form_row(form.lastName) }}
        </div>
      </div>
      		{{ form_row(form.email) }}
	
			<button type="submit" class="btn btn-dark col-12">Apply Changes</button>
			{{ form_end(form) }}



		</div>
	</div>
{% endblock %}
