{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}



	<div class="row text-center mt-5">
		{% for pin in pins %}
			<div class="col-md-4 my-3">
				<article class="pin bg-white rounded shadow h-100 ">
					<div class="rounded-top overflow-hidden ">
						<a href="{{path('app_pins_show', {id: pin.id})}}" >
							<img src="{{(pin.imageName ? vich_uploader_asset(pin) : asset('images/image.jpg'))}}" class="card-image-top h-auto w-100 ">
						</a>
					</div>
					<h5>
						<a class="text-secondary text-decoration-none " href="{{path('app_pins_show', {id: pin.id})}}">{{pin.title|slice(0, 38)}}</a>
					</h5>
					{# <p>{{pin.description|slice(0, 15) ~ '...'}}</p> #}
					<p>
						<small class="text-secondary">Submitted: by
							{{pin.user.firstName}}
							{{pin.user.lastName}}</small>
					</p>

					{% if app.user == pin.user %}
						<a href="" class="btn btn-danger m-2" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-pin-delete-form-{{pin.id}}').submit();">x Delete</a>
					{% endif %}

					<form id="js-pin-delete-form-{{pin.id}}" action="{{path('app_pins_delete', {id: pin.id})}}" method="post" style="display:none;">
						<input type="hidden" name="csrf_token" value="{{csrf_token('pin_deletion_' ~ pin.id)}}">
						<input type="hidden" name="_method" value="DELETE">
					</form>
				</article>
			</div>
		{% endfor %}
	</div>
{% endblock %}
